.container {
  background-color: var(--comp-background);
  border-radius: 0 0 20px 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  min-width: 325px;
  max-height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button {
  width: 45px;
  height: 45px;
  margin-left: 30px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.dropdown-item {
  font-size: 1em;
  font-weight: 600;
  border-bottom: 2px solid var(--primary-color);
}

@media screen and (max-width: 678px) {
  .menu-button {
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }
}
